body {
    background-color: rgb(54, 70, 82);
    font-family: monospace;
}

.content{
    background-color: rgb(7, 17, 8);
    height: 360px;
    margin-top: 7px;
}

#commentContainer {
    display: flex;
    justify-content: center;
    overflow-x: scroll;
}

.commentItem {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgb(199, 219, 230);
    margin: 5px;
    width: 220px;
    height: auto;
}

.commentName {
    font-weight: bold;
}

.deleteButton {
    width: 10px;
    display: flex;
    justify-content: center;
}

p {
    padding: 5px;
    margin: 0;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: left;
    gap: 5px;
    justify-self: center;
    background-color: rgb(181, 190, 198);
    border-radius: 10px;
    border: solid black 2px;
    margin-top: 10px;
    width: 250px;
    height: 150px;
    font-size: 14px;
}

form > label, input, button {
    margin: 0 10px;
}

label {
    padding-right: 5px;
    font-weight: bold;
}

.nameLabel {
    padding-top: 10px;
}

input {
    border-radius: 5px;
    height: 30px;
    overflow: visible;
    
}

#nameInput {
    width: 100px;
    height: 15px;
}

#commentInput {
    /* height: 100px; */
    width: 150px;
}

#submit {
    width: 60px;
    border-radius: 7px;
}

#submit:hover {
    background-color: grey;
}

#submit:active {
    transform: translateY(10px);
}
