@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Chewy&family=Indie+Flower&family=Modak&family=Sniglet:wght@800&display=swap');


body {
    background-color: #e27396;
    font-family: monospace;
}

.content{
    background-color: #ea9ab2;
    height: 360px;
    margin-top: 7px;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQqw-zjQyvtJVw3Nh2gltM-585aeNbpvp4-dQ&s');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 400px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#title {
    padding-top: 15px;
    font-size: 35px;
    font-family: "Sniglet", serif;
    font-weight: 800;
    font-style: normal;
    color:#cd577c;
}

img {
    width: 400px;
}

#commentContainer {
    display: flex;
    justify-content: center;
    overflow-x: scroll;  
}

.commentItem {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 10px;
    background-color:#ffc6d8;
    margin: 5px;
    width: 220px;
    height: auto;
    position: relative;
}

.commentName {
    font-weight: bold;
}

.deleteButton {
    width: 10px;
    height: 17px;
    font-size: 12px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border: hidden;
    border-radius: 10px;
    right: 3px;
    margin: 0;
    background-color: #f8b6da;
    
}

p {
    padding: 5px;
    margin: 0;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: left;
    gap: 5px;
    justify-self: center;
    background-color: #efcfe3;
    border-radius: 10px;
    border: solid black 2px;
    margin-top: 10px;
    width: 250px;
    height: 150px;
    font-size: 14px;
}

form > label, input, button {
    margin: 0 10px;
}

label {
    padding-right: 5px;
    font-weight: bold;
}

.nameLabel {
    padding-top: 10px;
}

input {
    border-radius: 5px;
    height: 30px;
    overflow: visible;
    
}

#nameInput {
    width: 100px;
    height: 15px;
}

#commentInput {
    /* height: 100px; */
    width: 150px;
}

#submit {
    width: 60px;
    border-radius: 7px;
}

#submit:hover {
    background-color: grey;
}

#submit:active {
    transform: translateY(3px);
}
